{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "env": {
    "browser": false,
    "node": true
  },
  "rules": {
    "quotes": [ "error", "single" ],
    "prefer-const": "error",
    "no-var": "error",
    "no-use-before-define": [ "error", { "functions": false } ],
    "space-in-parens": [ "error", "never" ],
    "array-bracket-spacing": "error",
    "computed-property-spacing": "error",
    "indent": [ "error", 2, { "SwitchCase": 1 } ]
  }
}
