bower_components/
config/
tests/
node-tests/
tmp/
dist/

.bowerrc
.editorconfig
.ember-cli
.codeclimate.yml
.travis.yml
.npmignore
**/.gitkeep
bower.json
ember-cli-build.js
testem.json
testem.multiple-test-page.js
testem..no-test-page.js
