# compiled output
/dist/
/tmp/

# dependencies
/bower_components/

# misc
.eslintrc
/.*
/bin/
/bower.json
/CHANGELOG.md
/CONTRIBUTING.md
/config/
/ember-cli-build.js
/node-tests/
/RELEASE.md
/testem*.js
/tests/
/yarn-error.log
/yarn.lock
/*.tgz
.gitkeep

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
/.nyc_output/
/config/addon-docs.js
