# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/coverage/
!.*
.*/

# ember-try
/.node_modules.ember-try/

# Ignored when enabling prettier in CI
# Changes are too much, and also not super functional
*.yml
*.yaml
*.md
