:root {
  --brand-primary: #751c27;
}

.home {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 900px;
  margin: 2rem auto 4rem;
}

.home__section {
  margin-bottom: 2.5rem;
}

.home__lead {
  margin-top: 0.5rem;
  font-size: 18px;
  line-height: 1.5;
}

.max-width {
  max-width: 100%;
}
