<DocsHeader />

<DocsHero
  @logo="ember"
  @slimHeading="Ember"
  @strongHeading="Exam"
  @byline="Run your tests with randomization, splitting, and parallelization for beautiful tests."
/>

<div class="docs-mt-8 docs-text-center">
  Looking for the <strong>Quickstart</strong>? {{docs-link "It's here" "docs.index"}}.
</div>

<DocsDemo class="home">
  <div class="docs-p-4">
    <p class="docs-mb-8">
      Ember Exam is an addon to allow you more control over how you run your tests when used in conjunction with
      <a class="docs-md__a" href="https://github.com/emberjs/ember-qunit">ember-qunit</a>.
      It provides the ability to randomize, split, parallelize, and load-balance your test suite by adding a more robust
      CLI command.
    </p>

    <p>
      It started as a way to help reduce flaky tests and encourage healthy test driven development. It's like
      <a class="docs-md__a" href="http://www.headandshoulders.com/">Head & Shoulders</a> for your tests!
    </p>

    <a class="docs-md__a" href="https://embermap.com/video/ember-exam" rel="nofollow">
      <img src="https://cloud.githubusercontent.com/assets/2922250/22800360/157ad67c-eed7-11e6-8d33-d2c59238c7f1.png"
        alt="Introduction to Ember Exam" class="max-width">
    </a>
  </div>
  <div class="docs-mb-8 docs-ml-4">To learn more, please {{docs-link "read the docs" "docs.index"}}</div>
</DocsDemo>