{{docs-header}}

{{#docs-viewer as |viewer|}}
  {{viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <h1>Not found</h1>
      <p>This page doesn't exist. {{#link-to "index"}}Head home?{{/link-to}}</p>
    </div>
  {{/viewer.main}}
{{/docs-viewer}}